---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "accordion accordion-shadow *:accordion-item-active:shadow-md",
    className,
  ]}
>
  <slot />
</div>

<script>
  import "@flyonui/accordion";
</script>
