---
import Icon from "@components/Icon.astro";
import clsx from "clsx";

interface Props {
  tag: "h2" | "h3" | "h4" | "blockquote";
  id?: string;
  class?: string;
}

const { class: className, tag: Element, id } = Astro.props;

const themeConfig = {
  h2: {
    container: clsx`bg-primary text-base-content`,
    icon: clsx`tabler--message-filled`,
    text: clsx`py-4 text-2xl`,
  },
  h3: {
    container: clsx`bg-base-300 text-base-content`,
    icon: clsx`tabler--point-filled`,
    text: clsx`py-3 text-lg`,
  },
  h4: {
    container: clsx`bg-base-200 text-base-content`,
    icon: clsx`tabler--point-filled`,
    text: clsx`py-1 text-lg`,
  },
  blockquote: {
    container: clsx`border-accent border bg-transparent`,
    icon: clsx`tabler--info-circle`,
    text: clsx`text-accent py-2 [&_p]:my-0`,
  },
};

const config = themeConfig[Element] || themeConfig.blockquote;
---

<Element
  id={id}
  class:list={["card min-h-0 overflow-hidden", config.container, className]}
>
  <div
    class:list={[
      "card-body flex flex-row flex-nowrap items-center",
      config.text,
    ]}
  >
    {config.icon && <Icon class:list={[config.icon, "shrink-0"]} />}
    <div class="flex-1">
      <slot />
    </div>
  </div>
</Element>
