---
import Icon from "@components/Icon.astro";
import { Image } from "astro:assets";

import sloganImg from "@assets/pages/port/slogan.webp";
import bannerImg from "@assets/common/port.webp";
import keyvisualImg from "@assets/pages/port/keyvisual.webp";
---

<section
  id="hero-section"
  class="relative h-dvh max-h-200 overflow-hidden pt-20"
>
  <div
    id="hero-bg"
    class:list={[
      "absolute -inset-x-[20%] inset-y-0 z-0",
      "bg-(image:--hero-bg) bg-cover bg-center bg-no-repeat",
    ]}
    style={`--hero-bg: url('${keyvisualImg.src}')`}
  >
  </div>
  <div class="relative container flex h-full flex-col justify-end py-8">
    <Image
      class="absolute top-[12dvh] h-28 w-auto"
      loading="eager"
      src={sloganImg}
      alt="Slogan"
    />
    <div
      class:list={[
        "flex flex-col gap-8",
        "md:flex-row-reverse md:items-end md:justify-between",
      ]}
    >
      <div class="max-w-210 flex-1">
        <Image loading="eager" src={bannerImg} alt="海猫鸣泣之时" />
      </div>
      <div class="flex flex-col items-center gap-2 md:items-start">
        <a
          href="#download"
          role="button"
          class="btn btn-secondary btn-gradient btn-xl flex w-55 items-center gap-2"
        >
          <Icon class="tabler--download" />
          下载
        </a>
        <span class="text-sm text-gray-300">现已发布：2021年7月15日</span>
      </div>
    </div>
  </div>
</section>
